.hero {
  background: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
  color: #fff;
}
.hero__wrapper {
  min-height: 877px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.hero__desc,
.hero__img {
  width: 100%;
}
.hero__title,
.hero__info {
  max-width: 457px;
  width: 100%;
}
.hero__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.2;
}
.hero__info {
  color: var(--text-color);
  margin-bottom: 47px;
}
.hero__input {
  background: #fff;
  max-width: 443px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.hero__input input {
  width: 100%;
  height: 100%;
  background: transparent;
  text-indent: 2.5rem;
  color: var(--text-color);
  font-size: 1.25rem;
}
.hero__button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 10px 16px;
  background: var(--button-color);
  border-radius: 9px;
  color: #fff;
  transition: var(--transition);
}
.hero__button:hover {
  opacity: 0.9;
}

.hero__img img {
  margin: 0 auto;
}

@media (max-width: 990px) {
  .hero__title {
    font-size: 52px;
  }
  .hero__input {
    max-width: 380px;
  }
  .hero__input input {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 5rem 0 2rem;
  }
  .hero__wrapper {
    flex-direction: column;
    min-height: auto;
    gap: 4rem;
  }
  .hero__desc {
    width: 100%;
  }
  .hero__img {
    width: 100%;
  }
  .hero__title,
  .hero__info {
    max-width: 100%;
    text-align: center;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__input {
    max-width: 380px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .hero__title {
    font-size: 24px;
  }
  .hero__info {
    font-size: 14px;
  }
  .hero__input {
    height: 50px;
  }
  .hero__input input,
  .hero__button {
    font-size: 14px;
  }
}
