@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Regular.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --text-color: #8b8e99;
  --title-fontSize: 36px;
  --card-title: 24px;
  --titleWeight: 900;
  --button-color: #3858d6;
  --smallTitle-color: #3858d6;
  --card_wrapper: #f6f6f6;
  --card-borderRadius: 22px;
  --transition: 0.325s;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
button,
input {
  border: none;
  outline: none;
  background: #00000078;
  cursor: pointer;
  display: block;
}
